.write {
  padding-top: 50px !important; 
}

.writeImg {
  margin-left: 150px !important;
  width: 70vw !important;
  height: 250px !important;
  border-radius: 10px !important;
  object-fit: cover !important ;
}

.writeForm {
  position: relative !important;
}

.writeFormGroup {
  margin-left: 150px !important;
  display: flex !important;
  align-items: center !important;
}

.writeIcon {
  width: 25px !important;
  height: 25px !important;
  font-size: 20px !important;
  border: 1px solid !important;
  border-radius: 50% !important;
  color: rgb(159, 3, 3) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px !important;
  border: none !important;
  padding: 20px !important;
  width: 70vw !important;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185) !important;
  font-weight: 400 !important;
}

.writeInput:focus {
  outline-style: none !important;
}

.writeText {
  width: 70vw !important;
  height: 100vh !important;
  font-family: inherit !important;
  font-size: 20px !important;
}

.writeSubmit {
  position: absolute !important;
  top: 20px !important;
  right: 50px !important;
  color: white !important;
  background-color: teal !important;
  padding: 10px !important;
  border: none !important;
  border-radius: 10px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
}